body{
    margin: 0%;
    font-family: 'Arvo', serif;
    font-family: 'Poppins', sans-serif;

}

/* ----------main pages 
            layout design---------*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(176, 196, 222, 0.308);
    
}

/* ------inside upper
         part layout--------*/

.player-background{
    margin-top: 30px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    width: 1200px;
    height: 550px;
}

h1{
    color: white;
    font-size: 50px;
    font-weight: bolder;
    
}

p{
    color: white;
}

.player-background .player{
    display: flex;
    width: 50%;
    margin-top: 20px;

    
    
}

.player-background .player img{
    width: 100%;
    margin-left: 20px;
    margin-right: 40px;
}


.player-inside{
    margin-left: 30px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    
}
/* ----inside upper part and middile part button design---- */

.button-design{
    font-size: 18px;
    background-image: linear-gradient(yellow, tomato);
    width: 187px;
    height: 56px;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bolder;
    margin-top: 20px;
}



/* ------inside middle
         part layout--------*/


.middle-design{
    margin-top: 60px;
    margin-bottom: 80px;
    display: flex;
    
}

.middle-design p{
    color: black;
    
}


/* ------inside middle
         part layout leftbox design--------*/


.middle-design .left-box{
    height: 290px;
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    border-radius: 10px;
    
}

.multiple-button{
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------inside middle
         part layout rightbox design--------*/

.right-box .inside-right{
    display: grid;
    row-gap: 0px;
    margin-left: 30px;
    width: 900px;
    height: 1200px;
    grid-template-columns: repeat(3, 1fr);
    
}

.transfer-news{

    width: 280px;
    height: 362px;
    border: 1px solid darkgray;
    border-radius: 10px;

}

.transfer-news .transfer-pic img{
    width: 280px;
    height: 175px;
}

/* ---------inside transfer-news button design--------- */

.transfer{
    width: 100px;
    height: 32px;
    margin: 10px 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
}

/* ----transfer-news icon, parragraph margin distance----- */

.transfer-news .left-distance{
    margin: 5px 8px;
}

/*----- transfer news icon and other design--------- */
.transfer-news .time-comment{
    display: grid;
    grid-template-columns: 30px 60px 30px 30px;

}



/* ---------------footer design------------- */



.bottom-part{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.upper{
    margin-top: 40px;
    font-size: 30px;
}

hr{
    width: 1000px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.bottom-part .middle{
    display: flex; 
    margin: 20px;   
}

.middle .distance-between{
    margin: 0px 20px;
}

